<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:insert="~{fragments/header}"></div>
<div th:insert="~{/fragments/adminPanel}" sec:authorize="hasAnyRole('ADMIN','MANAGER')"></div>

<table class="table table-bordered table-striped">
    <thead class="table-dark">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Roles</th>
        <th sec:authorize="hasRole('ADMIN')">Options</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each = "tempUser : ${users}">
        <td th:text="${tempUser.firstName}"></td>
        <td th:text="${tempUser.lastName}"></td>
        <td th:text="${tempUser.email}"></td>
        <td th:text="${tempUser.getRoleId().getRoleName()}"></td>
        <td sec:authorize="hasRole('ADMIN')">
            <a th:href = "@{/users/manage/delete/{userId} (userId = ${tempUser.getId()})}"
            th:data-confirm-delete ="| Are you sure u want to delete this employee ${tempUser.firstName} ${tempUser.lastName}|"
            onclick="if(!confirm(this.getAttribute('data-confirm-delete')))return false"> Delete User</a>
        </td>
    </tr>
    </tbody>
</table>
<div th:insert="~{fragments/footer :: footer}">&copy; 2016 The Static Templates</div>

</body>
</html>