<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:insert="~{fragments/header}"></div>
<table class="table table-bordered table-striped">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Title</th>
        <th scope="col">Movie hall name</th>
        <th scope="col">Date</th>
        <th scope="col">Seance time</th>
        <th scope="col">Seats available </th>
        <th scope="col">Seance length</th>
        <th scope="col">Ticket</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each = "tempSeance : ${seances}">

        <td th:text="${tempSeance.movie_id.getTitle()}"></td>
        <td th:text="${tempSeance.hall_id.getHallName()}"></td>
        <td th:text="${tempSeance.date}"></td>
        <td th:text="${tempSeance.time}"></td>
        <td th:text="${#lists.size(tempSeance.seats)}"></td>
        <td th:text="${tempSeance.getMovie_id().getLength()}"></td>
        <td sec:authorize="isAuthenticated()"> <a th:href="@{/seanceId/{seance_id} (seance_id=${tempSeance.getId()})}">Buy a ticket!</a></td>
        <td sec:authorize="isAnonymous()"> <a th:href="@{/users/login}">Sign up first to purchase a ticket!</a></td>
    </tr>
    </tbody>
</table>
<div>
    <a th:href="@{/addNewSeance}">Add new Seance</a>
</div>
<div th:insert="~{fragments/footer :: footer}">&copy; 2016 The Static Templates</div>
</body>
</html>